.card-usuario {
    background: #FFFBEF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    -webkit-box-shadow: 11px 11px 14px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 11px 11px 14px -6px rgba(0,0,0,0.2);
    box-shadow: 11px 11px 14px -6px rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
}

.card-usuario:hover{
    background: #fffbef3c;
    animation: initial 0.3s ease-in-out;
    transform: scale(95%);
}

.card-usuario img {
    border: 1px solid #FF9D0C;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}